title{
	color: lime;
	text-transform: uppercase;
	font-weight: 800;
}
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    box-sizing: border-box;
    background-image: url(scuffedstatic_red_1920x1234.jpg);
    font-family: 'Noto Sans JP', sans-serif;

}

h1{
    color: #fff;
	font-size: 3rem;
	font-weight: 500;
	text-align: center;
	margin: 1rem 0 3rem; 

}
u{
    color: rgb(17, 238, 17);
}
.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}
.inputDiv:hover{
    transition: ease-in-out 0.2s;
}
.container:hover{

}
.input{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: 1s;
    font-size: 1.15rem;
    
}
.addButton{
	outline: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: rgb(17, 238, 17);
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}
.addButton:hover{
    transition: ease-in-out 0.2s;
    background-color: rgb(202, 162, 133);
    transform-origin: 10px;
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}
.item{
    padding: 0.5rem;
    padding-top: 8px;
	border-bottom: 2px solid #fff;
	margin-bottom: 1.5rem;
}
.itemInput{
	background: none;
    outline: none;
    border: none;
	color: #fff;
	font-size: 1.4rem;
	width: 245px;
}
.changeButton{

    outline: none;
    border: none;
    outline: none;    
     background: none;
   	color: lime;
    font-size: 1.4rem;
    font-weight: 100;
	margin: 0 0.5rem;
	cursor: pointer;
}
.changeButton:hover{
    background: none;
    transition: ease-in-out 0.3s;
    font-weight: 700;
}
.deleteButton{

	border: none;
    background: none;
	color: #E00;
	font-size: 1.4rem;
	font-weight: 100;
	cursor: pointer;
}
.deleteButton:hover{
    background: none;
    transition: ease-in-out 0.3s;
    font-weight: 700;
}
}